# Introduction to SQL and Advanced Functions

Question 1 : Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.

> SQL commands are categorized based on the type of operation they perform on a database. Data Definition Language, Data Manipulation Language, and Data Query Language are three major classifications that together cover the complete lifecycle of database usage. Data Definition Language, commonly known as DDL, is used to define and manage the structure of database objects. Commands such as CREATE, ALTER, DROP, and TRUNCATE fall under DDL and are responsible for creating new tables, modifying existing table structures, or deleting database objects entirely. For example, when a table is created to store employee information, the CREATE TABLE command defines column names, data types, and constraints, thereby shaping how data will be stored.

>Data Manipulation Language, or DML, is used to manage the actual data stored inside the database tables. These commands allow users to insert new records, update existing records, or delete unwanted data. INSERT, UPDATE, and DELETE are typical DML commands. For instance, when a new employee joins an organization, the INSERT command is used to add that employee’s details into the Employees table. Unlike DDL, DML commands can usually be rolled back if executed within a transaction, which makes them safer for data handling.

>Data Query Language, abbreviated as DQL, is focused entirely on retrieving data from the database without altering it. The SELECT command is the primary DQL command and is used extensively in reporting, analysis, and decision-making. By applying conditions using the WHERE clause, users can fetch specific records from large datasets. For example, selecting employees whose salary exceeds a certain amount helps management analyze high-earning employees without changing any stored data. Together, DDL, DML, and DQL form the foundation of SQL operations, ensuring structured storage, controlled data manipulation, and efficient data retrieval.

Question 2 : What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.

>SQL constraints are used in databases to maintain data accuracy, consistency, and integrity. Their main purpose is to restrict invalid data entry and ensure that the data stored follows predefined business rules. Constraints are applied at the column or table level and automatically enforce conditions whenever data is inserted, updated, or deleted. Without constraints, databases may contain duplicate records, missing values, or incorrect relationships between tables, which can lead to unreliable results during analysis or reporting.

One of the most important constraints is the PRIMARY KEY constraint, which ensures that each record in a table is uniquely identifiable. It does not allow duplicate values or NULL values. For example, in a Customers table, each customer must have a unique customer ID so that no two customers can be confused. This can be implemented using SQL as shown below.

In [ ]:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100)
);

Another commonly used constraint is the UNIQUE constraint, which ensures that all values in a column are different. Unlike a primary key, it can allow NULL values depending on the database system. A practical scenario for using a UNIQUE constraint is an email column, where no two users should have the same email address. This prevents duplicate user accounts and maintains data correctness.

In [ ]:
CREATE TABLE Users (
    UserID INT,
    Email VARCHAR(100) UNIQUE
);

The FOREIGN KEY constraint is used to maintain referential integrity between two related tables. It ensures that a value in one table must exist in another table. For instance, if an Orders table stores customer IDs, those customer IDs must already exist in the Customers table. This prevents orders from being placed for non-existent customers.

In [ ]:
CREATE TABLE Orders (
    OrderID INT,
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

Question 3 : Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page
has 10 records?

>When LIMIT is used alone, it restricts the output to a fixed number of rows from the beginning of the result set. OFFSET, on the other hand, allows the query to ignore a certain number of rows before returning results. When both are used together, they enable efficient page-wise data retrieval.

To retrieve the third page of results when each page contains 10 records, the first two pages must be skipped. This means 20 records should be ignored, and the next 10 records should be fetched. The SQL query for this requirement is written as follows:

In this query, OFFSET 20 skips the first 20 records, and LIMIT 10 fetches the next 10 records, effectively displaying the third page of results. This technique improves performance and user experience when navigating large datasets.

In [ ]:
SELECT *
FROM Products
LIMIT 10 OFFSET 20;

Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.
>A Common Table Expression, commonly known as a CTE, is a temporary named result set that is defined using the WITH keyword and can be referenced within a single SQL query. CTEs are used to simplify complex queries, improve readability, and make SQL statements easier to understand and maintain. Unlike subqueries, CTEs allow the query logic to be broken into logical steps, which enhances clarity and debugging.

One of the major benefits of using a CTE is that it makes complex queries more readable by separating intermediate logic from the main query. CTEs are also reusable within the same query and support recursive operations, which are useful in hierarchical data such as organizational structures or category trees.

An example of a CTE that retrieves customers with high-value orders is shown below:

In this example, the CTE first filters orders with a total amount greater than 500, and the main query then retrieves data from the CTE as if it were a temporary table. This approach improves clarity compared to writing the same logic using nested subqueries.

In [ ]:
WITH HighValueOrders AS (
    SELECT CustomerID, TotalAmount
    FROM Orders
    WHERE TotalAmount > 500
)
SELECT CustomerID, TotalAmount
FROM HighValueOrders;

Question 5 : Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).

>Normalization in SQL is the process of organizing data in a database to reduce redundancy and improve data integrity. The primary objective of normalization is to eliminate duplicate data, ensure logical data storage, and minimize data anomalies that occur during insert, update, or delete operations. By structuring data efficiently, normalization makes databases easier to maintain and more reliable for analysis.

The first normal form, known as 1NF, focuses on eliminating repeating groups and ensuring that each column contains atomic values. This means that each field should store only a single value, and there should be no multi-valued attributes. For example, storing multiple phone numbers in a single column violates 1NF and should instead be split into separate rows or tables.

The second normal form, or 2NF, builds upon 1NF by removing partial dependencies. This means that non-key attributes must depend on the entire primary key, not just a part of it. This is especially relevant in tables with composite primary keys. Separating data into appropriate tables helps avoid redundancy and ensures proper dependency.

The third normal form, known as 3NF, removes transitive dependencies. In this form, non-key attributes should depend only on the primary key and not on other non-key attributes. This ensures that changes in one attribute do not require updates in multiple places, thereby improving consistency and reducing update anomalies.

Question 6 : Create a database named ECommerceDB and perform the following
tasks:

In [ ]:
CREATE DATABASE ECommerceDB;
USE ECommerceDB;

CREATE TABLE Categories (
    CategoryID INT PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL UNIQUE,
    CategoryID INT,
    Price DECIMAL(10,2) NOT NULL,
    StockQuantity INT,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) UNIQUE,
    JoinDate DATE
);

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

INSERT INTO Categories VALUES
(1, 'Electronics'),
(2, 'Books'),
(3, 'Home Goods'),
(4, 'Apparel');

INSERT INTO Products VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel : The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

INSERT INTO Customers VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

INSERT INTO Orders VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 2, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);

Question 7 : Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results
by CustomerName.
>This query requires combining customer data with order data while ensuring that customers who have not placed any orders are still included in the report. To achieve this, a LEFT JOIN is used between the Customers table and the Orders table. The COUNT function is applied to calculate the total number of orders per customer, and GROUP BY is used to aggregate results at the customer level. Customers with no orders automatically receive a count of zero.

In [ ]:
SELECT
    c.CustomerName,
    c.Email,
    COUNT(o.OrderID) AS TotalNumberOfOrders
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
GROUP BY c.CustomerName, c.Email
ORDER BY c.CustomerName;

Question 8 : Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically
>This query joins the Products and Categories tables using an INNER JOIN because every product is associated with a valid category. The result displays product details along with the category name, making the output more informative and useful for inventory and reporting purposes. The ORDER BY clause is applied first on category name and then on product name to ensure alphabetical ordering.

SELECT
    p.ProductName,
    p.Price,
    p.StockQuantity,
    c.CategoryName
FROM Products p
INNER JOIN Categories c
ON p.CategoryID = c.CategoryID
ORDER BY c.CategoryName, p.ProductName;

Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.
>This problem requires identifying the most expensive products per category, which is best handled using a window function. A Common Table Expression is used to assign a rank to products within each category based on price. The ROW_NUMBER function ranks products in descending order of price for each category. The outer query then filters only the top two ranked products per category.

In [ ]:
WITH RankedProducts AS (
    SELECT
        c.CategoryName,
        p.ProductName,
        p.Price,
        ROW_NUMBER() OVER (
            PARTITION BY c.CategoryName
            ORDER BY p.Price DESC
        ) AS PriceRank
    FROM Products p
    INNER JOIN Categories c
    ON p.CategoryID = c.CategoryID
)
SELECT CategoryName, ProductName, Price
FROM RankedProducts
WHERE PriceRank <= 2;

Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic
initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.


>These queries are written assuming the standard Sakila database schema. Each query addresses a specific business requirement related to customers, rentals, inventory, and revenue analysis.

To identify the top five customers based on total spending, payments are aggregated per customer and ordered in descending order.

In [ ]:
SELECT
    CONCAT(c.first_name, ' ', c.last_name) AS CustomerName,
    c.email,
    SUM(p.amount) AS TotalSpent
FROM customer c
JOIN payment p
ON c.customer_id = p.customer_id
GROUP BY c.customer_id, c.email
ORDER BY TotalSpent DESC
LIMIT 5;

>To find the three movie categories with the highest rental counts, rental data is joined with film and category tables and counted.

In [ ]:
SELECT
    cat.name AS CategoryName,
    COUNT(r.rental_id) AS RentalCount
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY cat.name
ORDER BY RentalCount DESC
LIMIT 3;

>To calculate film availability and films never rented per store, inventory data is analyzed with rental history.

In [ ]:
SELECT
    s.store_id,
    COUNT(i.inventory_id) AS TotalFilms,
    SUM(CASE WHEN r.rental_id IS NULL THEN 1 ELSE 0 END) AS NeverRented
FROM store s
JOIN inventory i ON s.store_id = i.store_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY s.store_id;

>To show monthly revenue for the year 2023, payment data is grouped by month.

In [ ]:
SELECT
    MONTH(payment_date) AS Month,
    SUM(amount) AS TotalRevenue
FROM payment
WHERE YEAR(payment_date) = 2023
GROUP BY MONTH(payment_date)
ORDER BY Month;

>To identify customers who rented more than ten times in the last six months, rental frequency is analyzed using date filtering.

In [ ]:
SELECT
    c.customer_id,
    CONCAT(c.first_name, ' ', c.last_name) AS CustomerName,
    COUNT(r.rental_id) AS RentalCount
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
WHERE r.rental_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
GROUP BY c.customer_id
HAVING COUNT(r.rental_id) > 10;